.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: 20 px;
  height: 20 px;
}
footer {
  margin-bottom: 50 px;
  font-size: 8px;
}
